@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* BODY STYLES */
* {
    font-family: 'Work Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landing{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/imgs/pizza.jpeg) no-repeat center center/cover;
}

.landing::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

/* HEADER */

.landing-top{
    position: relative;
    padding-top: .5rem;
    padding-left: .5rem;
    z-index: 2;
}

.fa-pizza-slice {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px;
    color: tomato;
    z-index: 2;
}

.loginTop {
    position: absolute;
    right: 2vw;
    color: tomato;
    padding: .5rem;
    font-size: .6rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

.loginTop:hover {
    opacity: .9;
}


/* BODY */

.landing-content{
    position: relative;
    padding: 10rem 2rem;
    text-align: center;
    justify-items: center;
    z-index: 2;
}

.topText {
    font-size: 3rem;
}

.bottomText {
    padding: 1rem;
    font-size: 1rem;
}

.login {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: .5rem;
    padding: .3rem;
    color: tomato;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trial {
    display: block;
    margin: 0 auto;
    width: 90%;
    color: tomato;
    margin-top: .5rem;
    padding: .3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login:hover {
    opacity: .9;
}

.trial:hover {
    opacity: .9;
}

/* FORM POPUPS */

.popBackLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: none;
}

.popBackTrial {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: none;
}

.loginPop{
    position: relative;
    width: 20rem;
    height: 25rem;
    background-color: white;
    border-radius: 4px;
    text-align: center;
}

.signupPop{
    position: relative;
    width: 20rem;
    height: 25rem;
    background-color: white;
    border-radius: 4px;
    text-align: center;
}

.forgot {
    position: absolute;
    margin-top: .5rem;
    left: 1rem;
    font-size: 1rem;
    color: tomato;
}

.closeLogin {
    font-size: 2rem;
    color: tomato;
   
    position: absolute;
    top: 0;
    right: 2vw;
    transform: rotate(45deg);
    cursor: pointer;
}

.closeTrial {
    font-size: 2rem;
    color: tomato;
    position: absolute;
    top: 0;
    right: 2vw;
    transform: rotate(45deg);
    cursor: pointer;
}

.form{
    color: tomato;
}

input {
    color: black;
    font-size: 1rem;
    width: 50%;
    display: block;
    margin: .7rem auto;
}

p {
    color: tomato;
}

.submit {
    padding: .3rem 1rem;
    color: tomato;
}

.fa-user-circle {
    margin-top: 4rem;
    font-size: 6rem;
    color: tomato;
    padding: 1rem;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 768px){

    .landing-top{
        padding-top: .8rem;
        padding-left: .8rem;
    }

    .fa-pizza-slice {
        font-size: 2.4rem;
    }

    .loginTop {
        font-size: 1rem;
    }


    .topText {
        font-size: 5rem;
        padding: 0 1rem;
    }

    .bottomText {
        margin: 2rem 5rem;
        font-size: 1.3rem;
    }

    .login {
        width:40%;
    }

    .trial {
        width:40%;
    }
}

@media only screen and (min-width: 992px) {

    .topText {
        font-size: 6rem;
        padding: 0 1rem;
    }
    .bottomText {
        font-size: 1.5rem;
        margin: 2rem 5rem;
    }

    .login {
        width:40%;
        font-size: 1.5rem;
    }

    .trial {
        width:40%;
        font-size: 1.5rem;
    }


.loginPop{
    width: 30rem;
    height: 30rem;
}

.signupPop{
    width: 30rem;
    height: 30rem;
}

.fa-user-circle {
    margin-top: 6rem;
}
}
